@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin font-smooth() {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$primary: #ff536c;
$accent: #4cc8ea;
$primary-offset: adjust-hue($primary, -50);
$primary-darken: mix($primary, black, 90%);
$complement: #82f34f;
$white: #ffffff;
$black: #555555;
$radius: 8px;
$font-size: 16px;
$gutter: $font-size;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$responsive-width: 750px;
$fontFamily: "Montserrat", sans-serif;
$fontFamilyHeading: "Raleway", sans-serif;

html,
body {
  font-family: $fontFamily;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0;
  padding: 2rem;
  @include font-smooth();
}

* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

h1,
h2,
h3 {
  -webkit-font-smoothing: antialiased;
  font-family: $fontFamilyHeading;
  letter-spacing: -0.02em;
  font-weight: $light;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: min-content;
  justify-items: stretch;
  grid-auto-flow: dense;

  &.grid-gap-large {
    grid-gap: 2rem;
  }

  &.grid-gap-none {
    grid-gap: 0;
  }

  &.grid-first-column-large {
    & > div:first-child {
      grid-column: auto / span 2;
    }
  }

  &.grid-last-column-large {
    & > div:last-child {
      grid-column: auto / span 2;
    }
  }

  &.grid-fixed {
    grid-auto-flow: column;
  }

  &.grid-middle {
    align-items: center;
  }

  &.grid-bottom {
    align-items: bottom;
  }

  &.grid-equal {
    align-items: stretch;
  }

  @media only screen and (max-width: 480px) {
    grid-template-columns: none;

    & > div {
      grid-column: 1 / -1 !important;
    }
  }

  // min-content
  // Just for testing
  & > * {
    background-color: rgba(black, 0.1);
    padding: 1rem;
  }
}
